## 결측치 처리

In [1]:
import pandas as pd

In [2]:
bike_data = pd.read_csv('bike_usage_0.csv', encoding = 'ANSI')

In [3]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36595 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           18262 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36595 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.2+ MB

In [4]:
bike_data[bike_data.Gender.isnull()]

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36553,2019-10-05,23,106,106. 합정역 7번출구 앞,일일권,NaN,30대,383.64,1824,독산근린공원 입구,2019-10-06 오전 12:48:32,SPB-23655,2.81,12110,68
36554,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,NaN,30대,157.79,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:28:03,SPB-13792,1.42,6130,32
36555,2019-10-05,23,2222,2222.사당역 12번출구 뒤,일일권,NaN,40대,51.74,2036,정금마을 마을버스정류장,2019-10-05 오후 11:52:33,SPB-17265,0.47,2010,15
36556,2019-10-05,23,916,916. 평생학습관 앞,일일권,NaN,50대,274.94,916,평생학습관 앞,2019-10-06 오전 1:12:15,SPB-01580,3.04,13100,80
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [5]:
bike_data.loc[bike_data.Gender.isnull(), 'Gender'] = 'U'

In [6]:
bike_data[bike_data.Gender.isnull()]

Empty DataFrame
Columns: [Date_out, Time_out, Station_no_out, Station_out, Membership_type, Gender, Age_Group, Momentum, Station_no_in, Station_in, Date_in, Bike_no, Carbon_amount, Distance, Duration]
Index: []

In [7]:
bike_data.Gender.value_counts()

U    18333
M    11025
F     7219
m       14
f        4
Name: Gender, dtype: int64

In [8]:
bike_data[bike_data.Momentum == '\\N']

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
3347,2019-10-03,14,113,113. 홍대입구역 2번출구 앞,정기권,F,30대,\N,113,홍대입구역 2번출구 앞,2019-10-03 오후 7:56:30,SPB-19656,\N,0,2
14547,2019-10-04,10,203,203. 국회의사당역 3번출구 옆,정기권,F,70대~,\N,214,금융감독원 앞,2019-10-04 오전 8:41:49,SPB-14566,\N,0,5
15697,2019-10-04,12,211,211. 여의도역 4번출구 옆,정기권,M,20대,\N,217,NH농협은행 앞,2019-10-04 오전 10:00:22,SPB-05742,\N,0,5
20683,2019-10-04,19,238,238. 제2구민체육센타 앞,정기권,U,20대,\N,238,제2구민체육센타 앞,2019-10-04 오후 8:34:07,SPB-18370,\N,0,3
25700,2019-10-05,3,2259,2259. 잠원역 3번-4번 출구사이,정기권,U,40대,\N,2217,아크로리버뷰 부지 앞,2019-10-05 오후 9:23:46,SPB-03337,\N,0,7
27995,2019-10-05,11,274,274. 영등포역지하쇼핑센타 5번출구,정기권,U,40대,\N,279,영등포 푸르지오 아파트,2019-10-05 오후 10:03:10,SPB-15669,\N,0,10
30112,2019-10-05,14,437,437. 대흥역 1번출구,정기권,M,30대,\N,135,명물길 원형무대 앞,2019-10-05 오후 10:55:50,SPB-17475,\N,0,10
32978,2019-10-05,18,274,274. 영등포역지하쇼핑센타 5번출구,정기권,F,20대,\N,274,영등포역지하쇼핑센타 5번출구,2019-10-05 오후 3:46:34,SPB-16977,\N,0,7
34459,2019-10-05,20,146,146. 마포역 2번출구 뒤,정기권,F,20대,\N,109,제일빌딩 앞,2019-10-05 오후 8:21:07,SPB-18232,\N,0,19

In [9]:
import numpy as np

In [10]:
bike_data.loc[bike_data.Momentum == '\\N', 'Momentum'] = np.nan

In [11]:
bike_data[bike_data.Momentum == '\\N']

Empty DataFrame
Columns: [Date_out, Time_out, Station_no_out, Station_out, Membership_type, Gender, Age_Group, Momentum, Station_no_in, Station_in, Date_in, Bike_no, Carbon_amount, Distance, Duration]
Index: []

In [12]:
bike_data.dropna()

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,U,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,U,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,U,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,U,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,U,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,U,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [13]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36595 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           36595 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36586 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.2+ MB

dropna()
- NaN 값을 가지고 있는 행을 삭제
- 실제 데이터를 삭제하지 않고 NaN값을 가진 행을 제외한 값을 반환
- 실제 데이터에서 삭제되도록 하려면 inplace = True 설정을 해야함

In [14]:
bike_data.dropna(inplace = True)

In [15]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36586 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36586 non-null  object
 1   Time_out         36586 non-null  int64
 2   Station_no_out   36586 non-null  int64
 3   Station_out      36586 non-null  object
 4   Membership_type  36586 non-null  object
 5   Gender           36586 non-null  object
 6   Age_Group        36586 non-null  object
 7   Momentum         36586 non-null  object
 8   Station_no_in    36586 non-null  int64
 9   Station_in       36586 non-null  object
 10  Date_in          36586 non-null  object
 11  Bike_no          36586 non-null  object
 12  Carbon_amount    36586 non-null  object
 13  Distance         36586 non-null  int64
 14  Duration         36586 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.5+ MB

36586행으로 변경됨

In [16]:
bike_data[['Momentum', 'Carbon_amount']].dtypes

Momentum         object
Carbon_amount    object
dtype: object

In [17]:
bike_data[['Momentum', 'Carbon_amount']] = bike_data[['Momentum', 'Carbon_amount']].astype(float)

In [18]:
bike_data[['Momentum', 'Carbon_amount']].dtypes

Momentum         float64
Carbon_amount    float64
dtype: object

astype() : 데이터 타입 변경, 괄호 안에 원하는 타입

In [19]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36586 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36586 non-null  object
 1   Time_out         36586 non-null  int64
 2   Station_no_out   36586 non-null  int64
 3   Station_out      36586 non-null  object
 4   Membership_type  36586 non-null  object
 5   Gender           36586 non-null  object
 6   Age_Group        36586 non-null  object
 7   Momentum         36586 non-null  float64
 8   Station_no_in    36586 non-null  int64
 9   Station_in       36586 non-null  object
 10  Date_in          36586 non-null  object
 11  Bike_no          36586 non-null  object
 12  Carbon_amount    36586 non-null  float64
 13  Distance         36586 non-null  int64
 14  Duration         36586 non-null  int64
dtypes: float64(2), int64(5), object(8)
memory usage: 4.5+ MB

## 이상치 처리

Tukey 함수 구현

In [21]:
import numpy as np

def outliers_iqr(data):
    q1, q3 = np.percentile(data, [25, 75])
    iqr = q3 - q1
    lower_bound = q1 - (iqr * 1.5)
    upper_bound = q3 + (iqr * 1.5)
    return np.where((data > upper_bound) | (data < lower_bound))

outliers = outliers_iqr(bike_data.Distance)

In [22]:
np.size(outliers)

3058

In [23]:
outliers

(array([   31,    97,   118, ..., 36566, 36572, 36576], dtype=int64),)

iloc : 행의 위치를 숫자로 표시해서 데이터 일부를 추출하는 인덱서

In [25]:
bike_data.iloc[outliers]

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
31,2019-10-03,0,403,403. 부엉이공원 앞,정기권,M,40대,483.28,194,증산교 앞,2019-10-03 오전 2:03:13,SPB-06112,3.15,13560,67
97,2019-10-03,1,181,181. 망원초록길 입구,일일권,U,30대,777.43,1328,월곡역 3번출구,2019-10-03 오전 3:29:29,SPB-16451,5.69,24540,107
118,2019-10-03,2,2222,2222.사당역 12번출구 뒤,정기권,U,30대,549.60,1124,발산역 6번출구옆(다이소앞),2019-10-03 오전 4:03:32,SPB-24365,4.74,20410,81
163,2019-10-03,2,903,903. 은평뉴타운 아이파크,정기권,M,50대,319.57,184,SK망원동주유소 건너편,2019-10-03 오전 5:11:40,SPB-14422,3.12,13450,131
247,2019-10-03,3,2505,2505. 우성아파트사거리 (기업은행앞),일일권,U,30대,373.51,1201,가락시장역 3번 출구,2019-10-03 오전 4:49:48,SPB-23456,2.74,11790,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36564,2019-10-05,23,933,933. LG서비스 역촌점,일일권,F,20대,220.41,418,월드컵경기장역 3번출구 옆,2019-10-06 오전 12:29:02,SPB-07222,2.81,12100,87
36569,2019-10-05,23,148,148. 용강동 주민센터 앞,일일권,F,30대,335.94,146,마포역 2번출구 뒤,2019-10-06 오전 1:05:07,SPB-21082,3.64,15710,85
36575,2019-10-05,23,437,437. 대흥역 1번출구,일일권,M,20대,346.10,437,대흥역 1번출구,2019-10-06 오전 1:26:17,SPB-25415,2.67,11500,109
36581,2019-10-05,23,641,641. 용두역 4번출구,일일권,M,20대,303.22,583,청계천 생태교실 앞,2019-10-06 오전 12:09:02,SPB-19379,2.73,11780,57
36585,2019-10-05,23,648,648. 장안동위더스빌옆,일일권,M,30대,824.45,398,을지로3가역 3번출구,2019-10-06 오전 12:11:27,SPB-22806,7.43,32030,37