In [22]:
import os
os.getcwd()
import pandas as pd
data=pd.read_csv('alchol_data.csv')
data.isnull()

      연도     발생     사망     부상
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False

In [6]:
data.isnull().sum() #빈 칸의 개수가 나타남

연도    0
발생    0
사망    0
부상    0
dtype: int64

In [7]:
data.describe()  #수치형 데이터의 요약정보가 나타남

                연도          발생         사망           부상
count     5.000000    5.000000   5.000000     5.000000
mean   2018.000000  656.200000  15.800000  1123.800000
std       1.581139  107.843405   3.193744   211.902572
min    2016.000000  493.000000  11.000000   797.000000
25%    2017.000000  620.000000  14.000000  1053.000000
50%    2018.000000  680.000000  18.000000  1165.000000
75%    2019.000000  708.000000  18.000000  1266.000000
max    2020.000000  780.000000  18.000000  1338.000000

In [8]:
type(data)

pandas.core.frame.DataFrame

pandas : 엑셀 같은 테이블 구조를 가진 DataFrame 타입을 사용. 데이터 분석에 편리한 다양한 기능 제공

In [9]:
data.columns

Index(['연도', '발생', '사망', '부상'], dtype='object')

In [10]:
data.head

<bound method NDFrame.head of      연도   발생  사망    부상
0  2020  620  11  1053
1  2019  493  18   797
2  2018  680  14  1165
3  2017  780  18  1338
4  2016  708  18  1266>

In [12]:
data.head(1)

     연도   발생  사망    부상
0  2020  620  11  1053

In [13]:
data.tail(1)

     연도   발생  사망    부상
4  2016  708  18  1266

In [14]:
data.shape #데이터 프레임의 행, 열을 확인

(5, 4)

In [16]:
data.info() #데이터의 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      5 non-null      int64
 1   발생      5 non-null      int64
 2   사망      5 non-null      int64
 3   부상      5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

In [17]:
data.sum()

연도    10090
발생     3281
사망       79
부상     5619
dtype: int64

In [19]:
data['연도']

0    2020
1    2019
2    2018
3    2017
4    2016
Name: 연도, dtype: int64

In [21]:
data['사망']

0    11
1    18
2    14
3    18
4    18
Name: 사망, dtype: int64